body{
    margin:0;
    /* overflow: hidden; */
}

*{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #444;
    height: 100vh;
    font-family:sans-serif;
    position: relative;

}
.title{
    background-color:#207345;
    text-align: center;
    font-size:1rem;
    padding: 0.5rem;
    height: 5vh;
    color:#fff;
}

.menu-bar{
    display:flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    
    height: 5vh;
    background-color: #207345;
}

.menu-bar-item{
    background-color:#207345;
    color: #fff;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    /* flex-direction: row; */
    justify-content:center;
    align-items: center;
}

.menu-bar-item.selected{
    background-color: #fff;
    color: #207345;
}

.menu-bar-item:hover{
    background-color: #1a6039;
    cursor: pointer;
}

.menu-bar-item.selected:hover{
    background-color: #fff;
    cursor: default;
}

.menu-icon-bar{
    display: flex;
    flex-direction: row;
    height: 6vh;
    align-items: center;
    
}

.menu-icon{ 
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-icon:hover{
    background-color: #cdcdcd;
    cursor: pointer;
}

.menu-selector{
    height: 4.5vh;
    font-size: 1.2rem;
    /* padding doesn't work on outer box as selection tag */
    margin-left: 0.7rem;
    margin-right:0.7rem;
}

#font-family{
    width: 10vw;
    min-width: 130px;
    font-family: Noto Sans;
}

#font-size{
    width: 3.5vw;
    min-width: 55px;

}

.formula-bar{
    display:flex;
    flex-direction:row;
    height: 5vh;
    justify-content: center;
    align-items: center;
    padding-left:0.5rem;
    padding-right:0.5rem;
    background-color:#F3F2F1;
}

#selected-cell{
    width: 120px;
    /* border:1px solid; */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height:70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden ;
    background-color: #fff;
}

#formula-sign{
    width: 40px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 70%;
    /* background-color:#F3F2F1; */
}

#formula-input{
    width: calc(100vw - 160px);
    /* border: 1px solid; */
    height: 70%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
}

.data-container{
    display: flex;
    /* height: calc(100vh - 26vh); */
    height: 75vh;
    flex-direction: row;
    /* border: 1px solid; */
    flex-wrap: wrap;
    /* overflow: scroll; */
    width: 100vw;

}

#select-all{
    width: 25px;
    height:25px;
    border:1px solid #cdcdcd;
}
 
#columns{
    height:25px;
    width: calc(100vw - 25px);
    border: 1px solid #cdcdcd;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#rows{
    width: 25px;
    /* height: calc(75vh - 25px - 17px); */
    height: calc(75vh - 25px);column-name
    border: 1px solid #cdcdcd;
    overflow: hidden;
}

#cells{
    position: relative;     
    width: calc(100vw - 25px);
    height: calc(75vh - 25px);
    border: 1px solid #cdcdcd;
    overflow: scroll;
}


.column-name{
    /* width: 60px; */
    /* height: 100%; */
    /* border-left: 1px solid #cdcdcd; */
    border-right: 1px solid #cdcdcd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold; 
    min-width: 100px;  
    width: 100px;
}

.row-name{
    min-height: 25px;
    border-bottom: 1px solid #cdcdcd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;   
}

.cell-row{
    display:flex;
}

.input-cell{
    min-width: 100px;
    width: 100px;
    min-height: 25px;
    height: 25p x;
    border-right:1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 14px;
    font-family:Noto Sans;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 1px; */
    outline-color: #207345;
}

.input-cell.selected{
    border: 2px solid #207345;
}

.input-cell.top-selected{
    border-top: none;
}

.input-cell.bottom-selected{
    border-bottom: 1px solid #cdcdcd;
}

.input-cell.left-selected{
    border-left: none;
}

.input-cell.right-selected{
    border-right: 1px solid #cdcdcd;
}

.menu-icon.selected{
    background-color: #cdcdcd;
}

.input-cell:hover{
    cursor: cell;
}

#fill-color{
    border-bottom:  4px solid #fff;
    padding-bottom: 2px;
}

#text-color{
    border-bottom: 4px solid #444;
    padding-bottom: 2px;
}

.pick-color {
    border-radius: 5px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
}

  /* .pick-color:hover { transform: scale(1.1); } */

.sheet-bar{
    height: 4vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.sheet-scroller{
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.sheet-tab-container{
    margin-right: 10px;
    display: flex;
    border-left: 0.5px solid #cdcdcd;
}

.sheet-tab{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 0.5px solid #cdcdcd;
    font-weight: bold;
}

.add-sheet{
    color: #207345;
}

.sheet-tab:hover{
    background-color: #cdcdcd;
    cursor: pointer;
}

.sheet-tab.selected{
    color: #207345;
    border-bottom: 5px solid #207345;
    outline: none;
    
}

.sheet-tab.selected:hover{
    background-color: #fff;
    cursor: default;
}

.add-sheet:hover, .scroller:hover{
    cursor: pointer;
    transform:scale(1.2);
}

.scroller{
    font-size: 30px;
}


.sheet-options-modal{
    position: absolute;
    background-color: #fff;
    padding: 15px;
    /* box-shadow: 0px 0px 5px 0.5px; */
    box-shadow: rgb(0 0 0 / 13%) 0px 6.4px 14.4px 0px, rgb(0 0 0 / 11%) 0px 1.2px 3.6px 0px;
}

.option{
    padding: 7px 15px 7px 15px;
    /* border-bottom: 0.5px solid #cdcdcd; */
}

.option:hover{
    /* transform:scale(1.2) */
    /* font-weight: bold; */
    cursor: default;
    background-color: #cdcdcd;
}






